.row{
    text-align: center;
    margin-top: 70px;
    margin-right: 4em;
}
.profile-img{
    width: 20%;
    border-radius: 150px;
}
.press-logo{
    width: 10%;
    border-radius: 100px;
}
.focused{
    margin-top: 3em;
}
